DiodFig BITMAP "diod.bmp"
ConstFig BITMAP "const.bmp"
LinearFig BITMAP "linear.bmp"
QuadraticFig BITMAP "quadratic.bmp"
ExponentFig BITMAP "exponent.bmp"
SmoothingFig BITMAP "smoothing.bmp"
MedianFig BITMAP "median.bmp"
DerivativeFig BITMAP "derivative.bmp"
GromovFig BITMAP "gromov.bmp"
IvanovFig BITMAP "ivanov.bmp"
DiodLSMFig BITMAP "diod.bmp"
PhotoDiodFig BITMAP "photodiod.bmp"
PhotoDiodLSMFig BITMAP "photodiod.bmp"
DiodLamFig BITMAP "diodLam.bmp"
PhotoDiodLamFig BITMAP "photodiodLam.bmp"
DiodTwoFig BITMAP "diodtwo.bmp"
DiodTwoFullFig BITMAP "diodtwofull.bmp"
DGausFig BITMAP "dgaus.bmp"
LinEgFig BITMAP "lineg.bmp"
DoubleDiodFig BITMAP "doublediod.bmp"
DoubleDiodLightFig BITMAP "doublediodlight.bmp"
TEandSCLCFig BITMAP "TEandSCLC.bmp"
TEandSCLCexpFig BITMAP "TEandSCLCexp.bmp"
TEandTAHTFig BITMAP "TEandTAHT.bmp"
TEandSCLCVFig BITMAP "TEandSCLCV.bmp"
RevShSCLC2Fig BITMAP "revshsclc2.bmp"
RevShSCLC3Fig BITMAP "revshsclc3.bmp"
Power2Fig BITMAP "power2.bmp"
TunnelFig BITMAP "tunnel.bmp"
RevShFig BITMAP "revsh.bmp"
BrailsfordFig BITMAP "brailsford.bmp"
CibilsFig BITMAP "cibils.bmp"
CheungFig BITMAP "cheung.bmp"
ExpForFig BITMAP "ExpFor.bmp"
ExpRevFig BITMAP "ExpRev.bmp"
Ivanov2Fig BITMAP "ivanov2.bmp"
WernerFig BITMAP "werner.bmp"
HfuncFig BITMAP "hfunc.bmp"
MikhelashviliFig BITMAP "mikhelashvili.bmp"
LeeFig BITMAP "lee.bmp"
Gromov1Fig BITMAP "gromov1.bmp"
Gromov2Fig BITMAP "gromov2.bmp"
Kam1Fig BITMAP "kam1.bmp"
Kam2Fig BITMAP "kam2.bmp"
NssFig BITMAP "nss.bmp"
ExFig BITMAP "ex.bmp"
NordeFig BITMAP "norde.bmp"
BohlinFig BITMAP "bohlin.bmp"
ExpFig BITMAP "exp.bmp"
ExpIphFig BITMAP "expiph.bmp"
PhonAsTunFig BITMAP "phonastun.bmp"
PATandTEFig BITMAP "PATandTE.bmp"
TEstrAndSCLCexpFig BITMAP "TEstrAndSCLCexp.bmp"
PATandTEsoftkT1Fig BITMAP "PATandTEsoftkT1.bmp"
photodiodtunFig BITMAP "photodiodtun.bmp"
diodtunFig BITMAP "diodtun.bmp"
TripleDiodFig BITMAP "triplediod.bmp"
TripleDiodLightFig BITMAP "triplediodlight.bmp"
OhmLawFig BITMAP "ohmlaw.bmp"
IscFig BITMAP "Isc.bmp"
TunnelFNMyFig BITMAP "TunnelFNMy.bmp"
TauGFig BITMAP "TauG.bmp"
TunRevFig BITMAP "TunRev.bmp"
BarierHeighFig BITMAP "BarierHeigh.bmp"
DoubleDiodTauLightFig BITMAP "DoubleDiodTauLight.bmp"
DoubleDiodTauFig BITMAP "DoubleDiodTau.bmp"
TauDAPFig BITMAP "TauDAP.bmp"
TTAUFeiFeBFig BITMAP "TTAUFeiFeB.bmp"
RshTFig BITMAP "RshT.bmp"
RdislRmetFig BITMAP "RdislRmet.bmp"
TwoPowerFig BITMAP "TwoPower.bmp"
MobilityFig BITMAP "Mobility.bmp"
n_vs_TFig BITMAP "n_vs_T.bmp"
n_FeBnewFig BITMAP "n_FeBnew.bmp"
n_FeBFig BITMAP "n_FeB.bmp"
n_FeB_vs_TFig BITMAP "n_FeB_vs_T.bmp"
PolinomFig BITMAP "Polinom.bmp"
MovAverFilterFig BITMAP "MovAverFilter.bmp"
NoiseSmoothingFig BITMAP "NoiseSmoothing.bmp"
SplainFig BITMAP "Splain.bmp"
LP_IIR_ChebyshevFig BITMAP "LP_IIR_Chebyshev.bmp"
LP_UniformFig BITMAP "LP_Uniform.bmp"
LP_Uniform4kFig BITMAP "LP_Uniform4k.bmp"
LP_FIR_WindowFig BITMAP "LP_FIR_Window.bmp"
FIR_BlackmanFig BITMAP "FIR_Blackman.bmp"
FIR_HammingFig BITMAP "FIR_Hamming.bmp"
FIR_HannFig BITMAP "FIR_Hann.bmp"
FIR_BartlettFig BITMAP "FIR_Bartlett.bmp"
FIR_ChebyshevFig BITMAP "FIR_Chebyshev.bmp"
HP_FIR_WindowFig BITMAP "HP_FIR_Window.bmp"
IV_thinFig BITMAP "IV_thin.bmp"
TunRevRsFig BITMAP "TunRevRs.bmp"
N_GausianFig BITMAP "N_Gausian.bmp"
